<?xml version="1.0"?>

<launch>

	<arg name="log_output" default="screen" />

	<!-- set some parameters -->
	<arg name="no_transmitter" default="false" doc="true if not using RC transmitter during flight"/>
	<arg name="controller_frequency" default="0.5" />

	<!-- takeoff parameter -->
	<arg name="takeoff_z_tolerance" default="0.5" />
	<arg name="takeoff_timeout" default="180.0" />
	<arg name="disable_param_checks" default="false" doc="disables checking parameters from FCU, set to true of you want to test without mavros in the loop" />
	<!-- fly_to_local parameters -->
	<arg name="xy_tolerance" default="2.0" />
	<arg name="z_tolerance" default="2.0" />

	<arg name="mavros_ns" default="mavros" /> <!-- mavros node namespace -->

    <!-- Takeoff action server -->
<!-- <node pkg="mavpro" type="takeoff_server" name="takeoff_server" output="$(arg log_output)">-->  <!-- C++ takeoff_server --> 
	<node pkg="mavpro" type="takeoff_server.py" name="takeoff_server" output="$(arg log_output)" > <!-- python takeoff_server --> 
		<param name="no_transmitter" value="$(arg no_transmitter)" />
		<param name="mavros_ns" value="$(arg mavros_ns)" />
		<param name="z_tolerance" value="$(arg takeoff_z_tolerance)" />
		<param name="timeout" value="$(arg takeoff_timeout)" />	
		<param name="disable_param_checks" value="$(arg disable_param_checks)" />	
	</node> 

    <!-- FlyToLocal action server -->
	<node pkg="mavpro" type="fly_to_local_server" name="fly_to_local_server" output="$(arg log_output)">
		<param name="controller_frequency" value="$(arg controller_frequency)" />
		<param name="xy_tolerance" value="$(arg xy_tolerance)" />
		<param name="z_tolerance" value="$(arg z_tolerance)" />
		<param name="mavros_ns" value="$(arg mavros_ns)" />
	</node>

    <!-- Landing action server -->
	<node pkg="mavpro" type="landing_server" name="landing_server" output="$(arg log_output)">
		<param name="controller_frequency" value="$(arg controller_frequency)" />
		<param name="mavros_ns" value="$(arg mavros_ns)" />
	</node>


</launch>